*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.log
*.pch
*.exp
*.idb
*.rep
*.exe
*.dll
*.xdc
*.pdb
*.dump
*_manifest.rc
*.lib
*.bsc
*.sbr
*.xml
*.metagen
*.bi
Release/*
x64/*
*.opensdf
ipch/